@import "daterangepicker/daterangepicker.css";
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "flag-icons/css/flag-icons.min.css";
@import "highcharts.css";
@import "layout.css";
@import "menu.css";
@import "content-cards.scss";

@include media-breakpoint-up(lg) {
    #time-in-range .time-in-range-container {
        min-width: 170px;
        border: 1px solid #ccc;
        border-left: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin: 8px 8px 8px 0;
    }

    #time-in-range .summation, #time-in-range .target, #average .value {
        font-size: 20px;
    }

    #average td {
        padding: 10px 15px;
    }

    #time-in-range .very-high-goal, #time-in-range .low {
        margin-bottom: 6px;
    }
}

.goal, #time-in-range .agp-target-settings {
    font-size: 10px;
    color: #727272;
}
#time-in-range .range {
    float: left;
    margin-left: 10px;
}
#time-in-range .range-label {
    font-weight: 700;
}


#average table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
}

#average td {
     border-top: 1px solid #d9d9d9;
}

#daily .d-none.d-lg-block {
    display: none !important;
}
