.card {
    border-radius: 14px;
    margin:20px;
    margin-left: 0;
    padding:0;
    --bs-card-title-spacer-y: 0;
}

@include media-breakpoint-up(md) {
    #main>.card {
        margin: 0;
    }
}

.card.error header {
    border: 4px solid rgba(139, 0, 0, 0.8);
    background-color: darkred;
    color: var(--font-color-dark-background);
}
.card header, .card header a {
    border: 4px solid var(--main-bg-color);
    background-color: var(--main-bg-color);
    color: var(--font-color-dark-background);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    font-weight: 700;
    padding: 0 20px;
    font-size: 16px;
}

@include media-breakpoint-down(md) {
    .card header, .card header a {
        padding: 0 5px !important;
    }
    .row > * {
        --bs-gutter-x: 10px;
    }
}

.card.big-title header {
    font-size: 24px;
}

@include media-breakpoint-down(md) {
    .card.big-title header {
        font-size: 20px;
    }
}

.card content {
    border: 4px solid var(--main-bg-color);
    border-top: none;
    background-color: #fff;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    padding: 14px 20px;
}

@media (max-width: 500px) {
    .card content {
        padding: 5px;
    }
}

.card.error content {
    border: 4px solid darkred;
}

#time-in-range-text {
    white-space: nowrap;
}

/*#agp-first-row #time-in-range-chart {
    height: 250px;
}*/
@include media-breakpoint-down(md) {
     #agp-first-row #time-in-range-chart {
         height:100px;
     }
 }

@media print {
    #agp-first-row  #time-in-range-chart {
        height: 100px;
    }
}
