:root {
    --bs-body-line-height:1.2;
    --main-bg-color: #3e82ff;
    --font-color-dark-background: #f4f4f4;
}

@media print {
    #form, header.menu { display:none;}
}

html, body {
    font-size: 12px;
}

header {
    background-color: var(--main-bg-color);
}
header h1 {
    color: var(--font-color-dark-background);
}

#main {
    width: 100%;
    max-width: 800px;
    float:left;
    margin-top: 5px;
}

div.layout-row {
    display: flex;
    flex-direction: row;
    /*height:100%;*/
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

div.layout-row>div {
    max-width: 50%;
}

@media (max-width: 500px) {
    div.layout-row.responsive {
        flex-direction: column;
    }
    div.layout-row.responsive>div {
        max-width: fit-content;
    }
}

#form {
    flex: 0.5;
    margin-right: 20px;
    min-width: 300px;
}
