:root {
    --bs-body-line-height:1.2;
    --main-bg-color: #3e82ff;
    --font-color-dark-background: #f4f4f4;
}

@media print {
    #form, body>header, footer { display:none;}
}

html, body {
    font-size: 12px;
}

header {
    background-color: var(--main-bg-color);
}
header h1 {
    color: var(--font-color-dark-background);
}

#main {
    width: 100%;
    float: right;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 40px; }
@media (prefers-reduced-motion: reduce) {
    #main {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
@media (min-width: 992px) {
    #main {
        width: 80%; } }
@media (max-width: 500px) {
    #main {
        padding: 10px;
    }
}

div.layout-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 500px) {
    div.layout-row.responsive {
        flex-direction: column;
    }
    div.layout-row.responsive>div {
        max-width: fit-content;
    }
}

#form {
    flex: 0.5;
    margin-right: 20px;
    min-width: 300px;
}
