.nav {
    --bs-nav-link-padding-x:0.2rem !important;
    --bs-nav-link-padding-y:0.2rem !important;
}

nav li {
    margin : 0 10px;
}

nav li.exact-active {
    font-weight: bold;
}

nav a {
    text-decoration: none;
    font-size: 1.5em;
}
nav li.exact-active a {
    text-decoration:underline;
}
#navbar {
    padding: 1em;
    width: 250px;
    position: fixed;
    left: 0;
    right: 0;
    overflow-y: hidden;
    z-index: 1001;
    background: #fff;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
@media (prefers-reduced-motion: reduce) {
    #navbar {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
@media (min-width: 992px) {
    #navbar {
        display: block; }
    .navbar-toggler {
        display: none;
    }
}
@media (max-width: 991.98px) {
    #navbar {
        width: 270px;} }
